<!DOCTYPE html>
<html lang="en">
<head>


	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		rel='stylesheet' />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	
	<script
	  src="//code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script
	  src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	  crossorigin="anonymous"></script>
	  
</head>


<body>
<div class="container">
	<div><br/></div>
	<div class="jumbotron">
	  <img src="/images/bls-logo.png"/>
	  <h1>BLS CODERS</h1>
	  <p>We are not amused.</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>
</body>
</html>